
    <!-- footer -->

    <footer class="main-footer">
      <div class="footer-main">
          <div class="footer">
              
              <div class="row">
                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title">About us <span class="title-under"></span></h4>

                          <div class="footer-content">

                              <p>
                                  <strong>Le Club INSEA Charity </strong>abrégé en CIC se donne pour missions de protéger,
                                   réparer, motiver, éduquer, soigner et aider à se construire des personnes en difficulté. Les valeurs et 
                                   les principes d'action du club trouvent leur concrétisation dans le projet associatif  et les principes 
                                   et les principes d'accompagnement des publics fragiles. Le club défend des valeurs humanistes universelles
                                  en menant des actions non marchandes, dans le cadre d'une gestion désintéressée.</p> 

                              <p>Dans un contexte socio-économique complexe, qui fait appel plus que jamais à la solidarité, 
                                  la protection sociale et à la charité vis-à-vis des personnes en difficulté, CIC désire affirmer
                                   sa contribution à la construction d'une société plus juste, humaine et solidaire.</p>

                          </div>
                          
                      </div>

                  </div>
                  
                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title ">Useful links<span class="title-under"></span></h4>

                          <div class="footer-content">
                              <ul class=" list-unstyled "> 
                                <li> &nbsp; &nbsp; &nbsp;   <a href="index.html"> <strong> > </strong> INSEA Charity Home page </a> </li> <br><br>
                                <li> &nbsp;  &nbsp; &nbsp;  <a href="blog.html"> <strong> > </strong> INSEA Charity Blog </a> </li> <br><br>
                                <li> &nbsp;  &nbsp; &nbsp;  <a href="about.html"> <strong> > </strong> Qui sommes nous ?</a> </li> <br> <br>
                                <li> &nbsp;  &nbsp; &nbsp; <a href="causes.html"> <strong> > </strong> Nos actions</a> </li> <br><br>
                              </ul>
                              
                          </div>
                          
                      </div>
                  </div>

                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title"> Find Us Or Donate<span class="title-under"></span></h4>

                          <div class="footer-content">
                              <ul class="tweets list-unstyled">

                                  <li class="tweet "> <center> 
                                      <i class="fa fa-map-marker fa-2x"> </i>Terminus tramway, INSEA,
                                       Avenue Allal  Al Fassi, Rabat 10100</center>
                                  </li>

                                  <li class="tweet">  <center> 
                                      We are active on Social media : <br>
                                      <ul class="list-unstyled list-inline header-social text-center">
                                           
                                        <li> <a href="https://www.facebook.com/INSEA.CHARITY"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="https://www.instagram.com/insea_charity/"> <i class="fa fa-instagram"></i>  </a> </li>
                                        <li> <a href="https://www.linkedin.com/in/insea-charity-40ab7018a"> <i class="fa fa-linkedin"></i>  </a> </li>
                                        <li> <a href="https://youtube.com/channel/UC7g6pVlm8olEbu-NaEFHzDg"> <i class="fa fa-youtube"></i>  </a> </li>
                                        <li> <i class="fa fa-envelope"></i> <a href="mailto:inseacharity@gmail.com"></a> </li>
                                   </ul> 
                                  </li>     </center>

                                  <li class="tweet "> <center> 
                                     Nous appeler ? <div class=" text-center"><br> <a href="tel:+212 660 697 761"> Téléhone : <i class="fa fa-phone"> </i></a>
                                      &nbsp; Ou &nbsp; <a href="http://wa.me/212660697761"> Whatsapp : <i class="fa fa-whatsapp"></i> </a></div> 
                                  </li>    </center>
                                  
                                  <li class="tweet "><center> 
                                      Vous voulez nous aider ? <br> <br>
                                           <div class="btn-holder text-center">
                                              <a href="#" class="btn btn-primary" style="font-size: 12px;" data-toggle="modal" data-target="#donateModal"> DONATE NOW</a>
                                          </div>
                                  </li>    </center>
                              </ul>
                              </ul>
                          </div>
                          
                      </div>
                  </div>


                  <div class="col-md-3">

                      <div class="footer-col">

                          <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                          <div class="footer-content">

                              <div class="footer-form">
                                  
                                  <div class="footer-form" >
                                  
                                  <form action="php/mail.php" class="ajax-form"> <br>

                                      <div class="form-group">
                                          <input type="text" name="name" class="form-control" placeholder="Name" required>
                                      </div>
                                      <br>

                                       <div class="form-group">
                                          <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                                      </div>
                                      <br>

                                      <div class="form-group">
                                          <textarea name="message" class="form-control" placeholder="Message" required></textarea>
                                      </div>
                                      <br>

                                      <div class="form-group alerts">
                      
                                          <div class="alert alert-success" role="alert">
                                            
                                          </div>

                                          <div class="alert alert-danger" role="alert">
                                            
                                          </div>
                                          
                                      </div>

                                       <div class="form-group">
                                          <button type="submit" class="btn btn-submit center-block">Send message</button>
                                      </div>
                                      
                                  </form>

                              </div>

                              </div>
                          </div>
                          
                      </div>

                  </div>
                  <div class="clearfix"></div>


              </div>
              
              
          </div>

          
      </div>

      <div class="footer-bottom">

          <div class="container text-center ">
               Made with <a href="https://hamidabdellaoui.netlify.app"><i class="fa fa-heart"></i></a> <strong>Insea charity</strong> <script> document.write(new Date().getFullYear());</script> &COPY; | All Rights Reserved
          </div>
      </div>
      
  </footer> <!-- main-footer -->




    <!-- Donate Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
          </div>
          <div class="modal-body">

                <form class="form-donation">


                        <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>  </h3>

                        <div class="text-center">
                           Support us by donating via Bank transfer : <br> </div>
                        <h3 class="title-style-1 text-center">RIB: 230 794 3477376211021500 22 </h3>
                    
                </form>
                    

            
          </div>
        </div>
      </div>

    </div> <!-- /.modal -->





    <!--  Scripts
    ================================================== -->

    <!-- jQuery -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>

    <!-- Bootsrap javascript file -->
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!-- owl carouseljavascript file -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- Template main javascript -->
    <script src="assets/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

    </body>
</html>
