<%- include("partials/header"); -%>
    <div class="page-heading fadeIn animated">

      <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#cause-carousel" data-slide-to="1"></li>
            <li data-target="#cause-carousel" data-slide-to="2"></li>
            <li data-target="#cause-carousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img src="assets/images/heading/heading-3.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-2.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-1.jpg" alt="">
              
            </div>

            <div class="item">

              <img src="assets/images/heading/heading-4.jpg" alt="">
              
            </div>

          </div>
      </div>

    </div>

  <style>
    .post{
      border: solid 1px rgb(207, 34, 63) ;
      margin: 3%;
    }
    .post p{
      padding: 20px;
    }
    .blog .row{
      margin: 4%;
    }
    .date{
      color: rgba(105, 16, 31, 0.575);
    }
  </style>




    
		
<div class="blog">
    <div class="row ">
  
      <div class="col-md-3 col-lg-3 col-sm-12 center-block text-center">
        <a href="post1.html">

        <div class="post">
         <img src="assets/images/blog/1.JPG" alt="" style="width: 100%;">
         <h3 style="font-family: Lemonada !important; font-weight: 700;">INSEA charity, une histoire..</h3>
         <div class="date"> 23:19 - Mardi 27/04/2021</div>
        </div>
      </a>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12  center-block text-center">
        <a href="post2.html">
        <div class="post">
        <img src="assets/images/blog/2.jpg" alt="" style="width: 100%;">
        <h3 style="font-family: Lemonada !important; font-weight: 700 !important;" > عن العطاء نتحدث <br><br></h3>
        <div class="date"> 00:34 - Mercredi 228/04/2021</div>
       </div>
      </a>
     </div>

     <div class="col-md-3 col-lg-3 col-sm-12  center-block text-center">
      <a href="post3.html">
      <div class="post">
      <img src="assets/images/blog/5.jpg" alt="" style="width: 100%;">
      <h3 style="font-family: Lemonada !important; font-weight: 700 !important;" > نداء قافلة نبض جديد بنسختها 13</h3>
      <div class="date">22:03 dim 09/05/2021</div>
     </div>
    </a>
   </div>

   <div class="col-md-3 col-lg-3 col-sm-12  center-block text-center">
    <a href="post4.html">
    <div class="post">
    <img src="assets/images/blog/3.jpg" alt="" style="width: 100%;">
    <h3 style="font-family: Lemonada !important; font-weight: 700 !important;" >Projet Koffat Al Khayr  </h3>
    <div class="date">00:20 lun 10/05/2021</div>
   </div>
  </a>
 </div>

  </div>
  </div>
          
<%- include("partials/footer"); -%>
