<%- include("partials/header"); -%>

    <div class="page-heading fadeIn animated">

      <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#cause-carousel" data-slide-to="1"></li>
            <li data-target="#cause-carousel" data-slide-to="2"></li>
            <li data-target="#cause-carousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img src="assets/images/heading/heading-3.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-2.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-1.jpg" alt="">
              
            </div>

            <div class="item">

              <img src="assets/images/heading/heading-4.jpg" alt="">
              
            </div>

          </div>
      </div>

    </div>




		<div class="text-center">
			<h1 class="page-title title-style-1"> Caravane Humanitaire 2018/2019 <span class="title-under"></span></h1>
			
	  </div>

	<div class="main-container">

		<div class="container">

			<div class="row">

				<div class="col-md-12 fadeIn animated">

					<p>
            L'événement phare de l'année 2018 organisé par notre club est la caravane
            humanitaire. Cette dernière avait lieu le 17 et 18 Mars 2018, en collaboration
            avec l'association Assalam. Deux camions ont pris la direction de Tamelsout
            Amzmiz, dans les régions de Marrakech, espérant offrir du bonheur aux familles
            et aux enfants du Douar.
					</p>

				</div>

				<div class="col-md-12 fadeIn animated">

					<div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
						    <li data-target="#cause-carousel" data-slide-to="1"></li>
                <li data-target="#cause-carousel" data-slide-to="2"></li>
                <li data-target="#cause-carousel" data-slide-to="3"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">

						    <div class="item active">

						      <img src="assets/images/causes/slider/cause-slider-1.jpg" alt="">
						      
						    </div>

						    <div class="item">

						      <img src="assets/images/causes/slider/cause-slider-2.jpg" alt="">
						      
						    </div>
                <div class="item">

						      <img src="assets/images/causes/slider/cause-slider-3.jpg" alt="">
						      
						    </div>
                <div class="item">

						      <img src="assets/images/causes/slider/cause-slider-4.jpg" alt="">
						      
						    </div>

						  </div>
					</div>

				</div>

			</div>

			<div class="row fadeIn animated">

				<div class="col-md-6">

					<h2 class="title-style-2"> Population cible <span class="title-under"></span></h2>

					<p>
            La caravane humanitaire avait comme cible les habitants du Douar Tamsoult dans les 
            environs de Marrakesh. 100 élèves du douar ont bénéficié de 100 cartables remplis 
            de fournitures scolaires et environ 110 familles ont bénéficié des paniers alimentaires
            distribués, sans oublier le réarangement de l'école qui a été une expérience inoubliable.
					</p>

				</div>

				<div class="col-md-6">

					<h2 class="title-style-2"> Partenariat et collaboration<span class="title-under"></span></h2>

					<p>
            La caravane humanitaire a vu le jour grace à deux partenariats clés: le premier avec
            l'association Sigma qui est l'association des lauréats de l'INSEA et qui s'est occupé 
            de nous fournir une partie des cartables scolaires remplis de fournitures pour les élèves
            du Douar Tamsoult. Le deuxième partenaire était avec l'association Assalam qui a joué un
            role très important dans la réalisation et la facilitation de notre projet. 
					</p>

				</div>

			</div>

			<div class="row ">

				<div class="col-md-12 fadeIn animate-onscroll">

					<h2 class="title-style-2">ACTIVITES ET REALISATIONS <span class="title-under"></span></h2>

					
						<div role="tabpanel">

							  <!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Réaménagement des classes</a></li>
							    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Distribution des cartables</a></li>
							    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Distribution des paniers alimentaires</a></li>
							  </ul>

							  <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="home">
                    Le réaménagement de l'école s'est passé dans des conditions
                    particulièrement bonnes et amusantes. Certes nous ne sommes pas endormies
                    cette nuit-là pour terminer le travail à l'heure, mais les membres étaient très
                    motivés pour accomplir notre but ultime : permettre à ces élèves d'avoir l'envie
                    de venir l'école.
                  </div>
							    <div role="tabpanel" class="tab-pane" id="profile">
                    Le moment le plus émouvant du convoi était lors de la distribution des
                    cartables à tous les élèves de l'école aménagée (80 élèves), une sensation
                    formidable régnait à ce moment-là. Quelques membres du Club avaient les
                    larmes de joie.  
                  </div>
							    <div role="tabpanel" class="tab-pane" id="messages">
                    La distribution des paniers alimentaires et des couvertures était la dernière
                    activité de notre convoi. Un accueil chaleureux a été réservé aux membres de
                    notre club par les familles. Nous avons distribué des paniers alimentaires et des
                    couvertures sur 120 familles. C'était notre première expérience en tant que
                    bureau, et nous espérons la refaire à nouveau.
                  </div>
							  </div>

						</div>

						<p></p>
					

				</div>


<!--
				<div class="col-md-12 fadeIn animate-onscroll">

					<h2 class="title-style-2">Les participants<span class="title-under"></span></h2>
					
						<h4>Bla bla bla </h4>
					    <table class="table table-style-2" style="background: rgba(255, 38, 139, 0.376);">
					      <thead>
					        <tr>
					          <th>#</th>
					          <th>First Name</th>
					          <th>Last Name</th>
					          <th>Username</th>
					        </tr>
					      </thead>
					      <tbody>
					        <tr>
					          <th scope="row">1</th>
					          <td>Mark</td>
					          <td>Otto</td>
					          <td>@mdo</td>
					        </tr>
					        
					      </tbody>
					    </table>
					
				</div>                              -->
				
			</div>

		</div>


	</div> <!-- /.main-container  -->

  
<%- include("partials/footer"); -%>
