<%- include("partials/header"); -%>

    <div class="page-heading fadeIn animated">

        <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">
  
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#cause-carousel" data-slide-to="1"></li>
              <li data-target="#cause-carousel" data-slide-to="2"></li>
              <li data-target="#cause-carousel" data-slide-to="3"></li>
            </ol>
  
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
  
              <div class="item active">
  
                <img src="assets/images/heading/heading-1.jpg" alt="">
                
              </div>
              <div class="item">
  
                <img src="assets/images/heading/heading-2.jpg" alt="">
                
              </div>
  
              <div class="item">
  
                <img src="assets/images/heading/heading-3.jpg" alt="">
                
              </div>
              <div class="item">
  
                <img src="assets/images/heading/heading-4.jpg" alt="">
                
              </div>
  
            </div>
        </div>
  
      </div>
  
  
      
      <div class="text-center">
        <h1 class="page-title title-style-1"> Gallery<span class="title-under"></span></h1>
        
    </div>


	<div class="main-container">

		<div class=" gallery zoomIn animated">

			<div class="row">

					<a href="assets/images/gallery/1.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/1.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <!-- /.gallery-item -->

					<a href="assets/images/gallery/2.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/2.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="assets/images/gallery/3.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/3.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="assets/images/gallery/4.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/4.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="assets/images/gallery/6.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/6.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="assets/images/gallery/8.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/8.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->



					<a href="assets/images/gallery/9.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/9.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->



					<a href="assets/images/gallery/10.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/10.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="assets/images/gallery/11.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/11.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->


					<a href="assets/images/gallery/12.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/12.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="assets/images/gallery/5.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/5.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->

					<a href="assets/images/gallery/7.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

						<img src="assets/images/gallery/7.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>
						
					</a> <!-- /.gallery-item -->
					
				
			</div>
			
		</div>


	</div> <!-- /.main-container  -->


 
<%- include("partials/footer"); -%>
