<%- include("partials/header"); -%>

    <div class="page-heading fadeIn animated">

      <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#cause-carousel" data-slide-to="1"></li>
            <li data-target="#cause-carousel" data-slide-to="2"></li>
            <li data-target="#cause-carousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img src="assets/images/heading/heading-3.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-2.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-1.jpg" alt="">
              
            </div>

            <div class="item">

              <img src="assets/images/heading/heading-4.jpg" alt="">
              
            </div>

          </div>
      </div>

    </div>

  <style>
    .post{
      border: solid 1px rgb(207, 34, 63) ;
      margin-top: 14px;
    }
    .post p{
      padding: 20px;
    }
    .blog .row{
      margin: 1%;
    }
    .date{
      color: rgba(105, 16, 31, 0.575);
    }
  </style>




    
		
<div class="blog">
     <div class="container-fluid">


        <div class="row">
            <div class="col-md-8">
                <br>
                <h2 class="text-right" style="font-family: Lemonada; color: rgb(207, 34, 63);">نداء قافلة نبض جديد بنسختها 13 </h2>
                <p style="font-family: changa; font-weight: 700; color: black; font-size: 16px;" class=" text-right">
                  النادي الاجتماعي ل إينسيا يدعوا الجميع من أجل إعانة  المناطق الجبلية المهمشة. 

                  أطلق أعضاء النادي الاجتماعي للمعهد الوطني للإحصاء والاقتصاد التطبيقي قافلة اجتماعية  تحت شعار "نبض جديد" و هي القافلة الثالثة عشر التي ينظمها هذا النادي . تسعى هذه المبادرة إلى إعانة دوار أمشكون بجماعة ايت أومديس فطواكة إقليم أزيلال من خلال القيام بعدة أعمال خيرية منها إعادة ترميم المدرسة الابتدائية، المسجد، و سكن الأساتذة،اضافة إلى دعم التلاميذ ماديا و معنويا من خلال مساعدتهم بالكتب المدرسية و تنظيم حملات توجيهية و ترفيهية لهم،وكذلك انشاء تعاونية لإنتاج زيت الكركاع كمشروع تنموي يعين  أهل المنطقة على مكافحة  الفقر و العجز. <br> <br>
                  جاء اختيار هذه المنطقة لعدة دوافع  كما سبق و صرح أعضاء النادي، فبعد زيارتهم الاستكشافية الأولى للمنطقة، لاحظوا مدى سوء معيشة الساكنة و قساوة ظروفهم ، مثل هشاشة البنية التحتية لكل من المدرسة الابتدائية، المسجد و كذا سكن الأساتذة،مع العلم ان جل التلاميذ لايستفيدون من الكتب و الأدوات الدراسية، إضافة إلى عدم وجود دخل قار لسكان يمكنهم من اقتناء قوتهم و رعاية أطفالهم. ومنه وضعت أهداف  هذه القافلة الاجتماعية. 
                  قساوة المناخ وصعوبة الحياة كانت  نداء إغاثة من اهل دوار أمشكون، قام  أعضاء نادي  إينسيا شاريتي  بالاستجابة لها  بكل أمل و طموح في تحسين وضعيتهم و مساعدتهم على بناء غد افضل من خلال تنظيم قافلة نبض جديد لتصبح هذه القافلة نداء مساعدة من هؤلاء طلبة يطالبون به  عامة الناس راجين منهم دعم هذا العمل الخيري  ، لذلك يتوجه أعضاء النادي بدعوة كل من يمكنه المساهمة في هذه المبادرة الخيرية  بقدر استطاعته من محسنين و فاعلين خير  تواصل معهم في العناوين المرفقة اسفله. إن هذا النادي يدعوكم جميعا من أجل إحياء نبض  جديد في حياة هذه الأسر.
                
                </p>

       
                

            </div>
            <div class="col-md-4">
                <h3 class="center-block text-center">lire autres articles <span class="title-under"></span></h3>
                <div class="row">
                    <div class="col-md-6 center-block text-center">
                        <a href="post2.html">
                         <div class="post">
            <img src="assets/images/blog/2.jpg" alt="" style="width: 100%;">
            <h4 style="font-family: Lemonada !important; font-weight: 700 !important;" > عن العطاء نتحدث</h4>
            <div class="date"> 00:34 - Mer 28/04/2021</div>
           </div>
        </a>
                    </div>
                    <div class="col-md-6 center-block text-center">
                        <a href="post1.html">
                        <div class="post">
             <img src="assets/images/blog/1.JPG" alt="" style="width: 100%;">
             <h4 style="font-family: Lemonada !important; font-weight: 700;">INSEA charity, une histoire..</h4>
             <div class="date"> 23:19 - Mardi 27/04/2021</div>
            </div>
        </a>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-6 center-block text-center">
                    <a href="post3.html">
                      <div class="post">
                      <img src="assets/images/blog/5.jpg" alt="" style="width: 100%;">
                      <h4 style="font-family: Lemonada !important; font-weight: 700 !important;" > نداء قافلة نبض جديد بنسختها 13</h4>
                      <div class="date">22:03 dim 09/05/2021</div>
                     </div>
                    </a>
                  </div>
                  <div class="col-md-6 center-block text-center">
                    <a href="post4.html">
                      <div class="post">
                      <img src="assets/images/blog/3.jpg" alt="" style="width: 100%;">
                      <h4 style="font-family: Lemonada !important; font-weight: 700 !important;" >Projet Koffat Al Khayr  </h4>
                      <div class="date">00:20 lun 10/05/2021</div>
                     </div>
                    </a>
                  </div>
              </div>
            </div>
        </div>



    </div>
  </div>

          
  <%- include("partials/footer"); -%>
