<%- include("partials/header"); -%>
    <div class="page-heading fadeIn animated">

      <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#cause-carousel" data-slide-to="1"></li>
            <li data-target="#cause-carousel" data-slide-to="2"></li>
            <li data-target="#cause-carousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img src="assets/images/heading/heading-3.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-2.jpg" alt="">
              
            </div>
            <div class="item">

              <img src="assets/images/heading/heading-1.jpg" alt="">
              
            </div>

            <div class="item">

              <img src="assets/images/heading/heading-4.jpg" alt="">
              
            </div>

          </div>
      </div>

    </div>

  <style>
    .post{
      border: solid 1px rgb(207, 34, 63) ;
      margin-top: 14px;
    }
    .post p{
      padding: 20px;
    }
    .blog .row{
      margin: 1%;
    }
    .date{
      color: rgba(105, 16, 31, 0.575);
    }
  </style>




    
		
<div class="blog">
     <div class="container-fluid">


        <div class="row">
            <div class="col-md-8">
                <br>
                <h2 class="title-style-2"> Projet Koffat Al Khayr <strong>des paniers
                  solidaires au profit des familles
                  démunies de la province de Settat</strong> </h2>
                <p style="font-weight: bold; color: black; font-size: 14px;">Le projet caritatif « Koffat Al Khayr » en partenariat avec l’Association Gdania propose une
                  
                  Le projet caritatif « Koffat Al Khayr » en partenariat avec l’Association Gdania propose une
                  aide d’urgence en faveur de la population des douars Sidi El-Taher et Lakhfancha à la
                  Commune Gdana, dans la province de Settat. Ce projet sponsorisé par Expert Scope
                  Engineering a porté sur la distribution de paniers de biens de première nécessité (alimentation
                  et hygiène) le 20 Décembre 2020. <br> <br>
                  Initiée par le club INSEA Charity qui rassemble des élèves ingénieurs de l’Institut National de
                  Statistique et d’Economie Appliquée, cette action humanitaire a abouti à la distribution de 50
                  paniers solidaires au bénéfice des familles les plus fragiles de la Commune. Ce sont ainsi 1,7
                  tonne de denrées alimentaires qui ont été offertes aux ménages pour contribuer à la lutte
                  contre la précarité durant la crise sanitaire de la Covid-19. <br> <br>
                  Cette initiative s’inscrit dans le cadre du plan d’action stimulant et ambitieux du club INSEA
                  Charity qui se mobilise sur le terrain pour venir en aide aux plus démunis de notre société.
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="center-block text-center">lire autres articles <span class="title-under"></span></h3>
                <div class="row">
                    <div class="col-md-6 center-block text-center">
                        <a href="post2.html">
                         <div class="post">
            <img src="assets/images/blog/2.jpg" alt="" style="width: 100%;">
            <h4 style="font-family: Lemonada !important; font-weight: 700 !important;" > عن العطاء نتحدث</h4>
            <div class="date"> 00:34 - Mer 28/04/2021</div>
           </div>
        </a>
                    </div>
                    <div class="col-md-6 center-block text-center">
                        <a href="post1.html">
                        <div class="post">
             <img src="assets/images/blog/1.JPG" alt="" style="width: 100%;">
             <h4 style="font-family: Lemonada !important; font-weight: 700;">INSEA charity, une histoire..</h4>
             <div class="date"> 23:19 - Mardi 27/04/2021</div>
            </div>
        </a>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-6 center-block text-center">
                    <a href="post3.html">
                      <div class="post">
                      <img src="assets/images/blog/5.jpg" alt="" style="width: 100%;">
                      <h4 style="font-family: Lemonada !important; font-weight: 700 !important;" > نداء قافلة نبض جديد بنسختها 13</h4>
                      <div class="date">22:03 dim 09/05/2021</div>
                     </div>
                    </a>
                  </div>
                  <div class="col-md-6 center-block text-center">
                    <a href="post4.html">
                      <div class="post">
                      <img src="assets/images/blog/3.jpg" alt="" style="width: 100%;">
                      <h4 style="font-family: Lemonada !important; font-weight: 700 !important;" >Projet Koffat Al Khayr  </h4>
                      <div class="date">00:20 lun 10/05/2021</div>
                     </div>
                    </a>
                  </div>
              </div>
            </div>
        </div>



    </div>
  </div>

          
  
  <%- include("partials/footer"); -%>
